body { font-family: sans-serif ;}

.adress-text {font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.buton-text {
    
    }
.footer{ width: 1440px;
    height: 310px;
    left: 0px;
    top: 1764px;
    background: #2E2F42;;}
.footer-text {font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
     color: #E7E9FC;}