body {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  background: #e5e5e5;
  color: #2e2f42;
  color: #434455
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/*------Header------*/
.nav-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-text :hover {
  color: #404bbf;
}
.nav-text :focus {
  color: #404bbf;
}

.adress-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adress-text :hover {
  color: #404bbf;
}
.adress-text :focus {
  color: #404bbf;
}

/*------ButtonSection------*/

.button-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.button-header :hover {
  color: #404bbf;
}

.button-text-all {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
.button-text-all :hover {
  color: #404bbf;
  background-color: #ffffff;
}
.button-text-all :focus {
  color: #404bbf;
  background-color: #ffffff;
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}
.button-text :hover {
  color: #ffffff;
  background-color: #404bbf;
}
.button-text :focus {
  color: #ffffff;
  background-color: #404bbf;
}

/*------Main------*/
.text-header {
  background: #2e2f42;
}

.text-h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.text-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.text-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*------Footer------*/
.page-footer {
  background: #2e2f42;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
